<mat-toolbar color="primary">
  <img id="logo" src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/14358807_1757249341196612_5081574549653390337_n.jpg?oh=929fc3dfe2a8a30ed4be739b5d527ebb&oe=5ABF5675" >
  <span class="fillspace"></span>
  <span class="mat-title" *ngIf="authService.user | async">{{ (authService.user | async)?.email }}</span>
    
  <div *ngIf="!(authService.user | async)" class="unauth-form">
    <mat-form-field id="email">
      <input matInput type="text" color="accent" [(ngModel)]="email" placeholder="email">
    </mat-form-field>
    <mat-form-field id="password">
      <input matInput type="password" color="accent"  [(ngModel)]="pw" placeholder="password">
    </mat-form-field>
    <button id="signup-button" mat-raised-button color="accent" (click)="signUp()" [disabled]="!email || !pw">
      Signup
    </button>
  
    <button id="login-button" mat-raised-button color="accent" (click)="logIn()" [disabled]="!email || !pw">
      Login
    </button>
  </div>
  
  <button id="logout" mat-raised-button color="accent" (click)="logOut()" *ngIf="authService.user | async">
    Logout
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    *ngIf="authService.user | async"
    #sidenav
    mode="side"
    opened="true" 
  class="mat-elevation-z10">
      <app-productinfo></app-productinfo>
  </mat-sidenav>
          <!-- primary content -->
  <mat-toolbar *ngIf="authService.user | async" class="listtitle" style="text-align:center" color="primary">
      <span style="flex:auto"></span>
      <span>Current List</span>
      <span style="flex:auto"></span>
  </mat-toolbar>
  <button mat-fab *ngIf="authService.user | async" class="example-fab" (click)="sidenavToggle()">
    <mat-icon>{{ arrow }}</mat-icon>
  </button>
  <div class="listcontainer" style="min-height:900px">
      <app-product-list *ngIf="authService.user | async"></app-product-list>
  </div>
</mat-sidenav-container>